* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(https://img.freepik.com/free-photo/cup-coffee-with-pile-coffee-beans_1112-438.jpg?t=st=1731713216~exp=1731716816~hmac=30412361e182a94abb36d5e12081d85e8bb07a583d6bdb00511462a45d4d4aa3&w=740);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .content {
    max-width: 600px;
    color: #fff;
}

.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
}

.content p {
    margin: 10px 0 40px;
}

.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-size: 1.2em;
    box-shadow: 0 0 25px hwb(118 0% 0%);
}

.content a:hover {
    background: rgb(30, 255, 0);
    box-shadow: 0 0 5px rgb(0, 140, 255,),
                0 0 25px rgb(0, 140, 255),
                0 0 50px rgb(0, 140, 255),
                0 0 100px rgb(0, 140, 255);
    font-size: 1.5em;
}

.home .wrapper-login {
    position: relative;
    width: 440px;
}

.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 45px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

.wrapper-login .remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #1e0b04;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #270f04;
    box-shadow: inset 0 0 0 0 #270f04;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: ease-out 0.5s;
}

.wrapper-login .btn:hover {
    color:#fff;
    box-shadow: inset 0 -100px 0 0 #270f04;
}

.wrapper-login .btn:active {
    transform: scale(.95);
}

.wrapper-login .register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


    


